/* Estilos para el pie de página */
.footer {
    text-align: center;
    padding: 0.01rem;
    background: -webkit-linear-gradient(180deg, #057ecd,#00215f);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #057ecd,#00215f);
    font-size: 0.875rem;
    color: white;
    margin-top: auto; 
  }
  