<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cotizador eTesla</title>
        <link rel="stylesheet" href="header.component.css">
    </head>

    <header class="header">
        <div class="logo">
            <img src="../../../assets/imagen/logo.jpeg" alt="Logo" class="logo-image">
            <span>Cotizador eTesla</span>
        </div>
        <div class="user-info">
            {{nombreUsuario}}
        </div>
    </header>
</html>